li {
  cursor: pointer;
}

.App {
  display: flex;
  justify-content: center;
}

.App div h4 {
  text-align: center;
}

.add-task-block {
  display: flex;
}

.add-task-block input,
.add-task-block button {
  background: #fff;
  color: #000;
}

.add-task-block button {
  cursor: pointer;
}

.add-task-block button:hover {
  background: silver;
}
